@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./be.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  /* --vp-c-bg: linear-gradient(45deg, #bfbfbf, #e6e6e6); */
  /* --vp-c-bg: #e6e6e6; */
  /* --vp-c-text-1: #e6e6e6; */
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #F6CEEC 10%, #D939CD 100%);
  /* 图标背景 */
  /* --vp-home-hero-image-background-image: linear-gradient(135deg, #F6CEEC 10%, #D939CD 100%); */
  --vp-home-hero-image-filter: blur(150px);


  .VPImage {
    border-radius: 50%;
    box-shadow: 0 10px 10px 50px linear-gradient(135deg, #F6CEEC 10%, #D939CD 100%);

  }

  .container .main .text {
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 1px -1px #fff, -1px 1px #fff, -10px 10px 5px #808080;
  }

}